items:
{% for ingredient in excluding_pantry(get_ingredient_list(ingredients)) %}
    - name: {{ingredient.name}}
      amount: {{ingredient.quantities}}
      link: {{ db(underscore(ingredient.name) ~ ".shopping.supervalu.opt_1.url") }}
      backup_link: {{ db(underscore(ingredient.name) ~ ".shopping.supervalu.opt_2.url") }} # alternative product if not available -
{%- endfor %}
